.ipad {
  width: 290px;
  height: 371px;
  position: absolute;
  right: 0;
  top: 40px;
}

.ipad .content {
  left: 35px;
  top: 38px;
  position: absolute;
  width: 223px;
  height: 297px;
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: x-small;
  background: white;
}

.ipad .content table {
  width: 100%;
  border-collapse: collapse;
}

/** picking list*/
.ipad .content .completed td {
  text-decoration: line-through;
}

.ipad .content td {
  vertical-align: top;
  border-top: 1px solid grey;
  border-left: 1px solid lightgrey;
}

.ipad .content td:first-child {
  border-left: 3px solid white;
}

.ipad .content td.pair {
  border-top: 1px solid lightgrey;
  padding-left: 4px;
}

.ipad .content .highlight {
  background: lightgrey;
}

.ipad .content .category-header-a {
  background-color: #eb3223;
  color: white;
}

.ipad .content .cat-a.highlight td:first-child {
  border-left: 3px solid  #eb3223;
}

.ipad .content .category-header-b {
  background-color: #254683;
  color: white;
}

.ipad .content .cat-b.highlight td:first-child {
  border-left: 3px solid  #254683;
}

.ipad .content .category-header-c {
  background-color: #f2bd42;
  color: white;
}

.ipad .content .cat-c.highlight td:first-child {
  border-left: 3px solid  #f2bd42;
}

.ipad .content .category-header-d {
  background-color: #b7b7b7;
  color: white;
}

.ipad .content .cat-d.highlight td:first-child {
  border-left: 3px solid  #b7b7b7;
}
